                <span class="social">
                {% if (page.header.website) %}
                    <a title="webpage" href="{{page.header.website}}"><i class="fas fa-link fa-3x"></i></a>
                {% endif %}
                {% if (page.header.wiki) %}
                    <a title="wiki" href="{{page.header.wiki}}"><i class="fab fa-wikipedia-w fa-3x"></i></a>
                {% endif %}
                {% if (page.header.youtube) %}
                    <a title="youtube" href="{{page.header.youtube}}"><i class="fab fa-youtube fa-3x"></i></a>
                {% endif %}
                {% if (page.header.facebook) %}
                    <a title="facebook" href="{{page.header.facebook}}"><i class="fab fa-facebook fa-3x"></i></a>
                {% endif %}
                {% if (page.header.twitter) %}
                    <a title="@{{page.header.twitter}}" href="http://www.twitter.com/{{page.header.twitter}}"><i class="fab fa-twitter fa-3x"></i></a>
                {% endif %}
                {% if (page.header.reddit) %}
                    <a title="reddit" href="{{page.header.reddit}}"><i class="fab fa-reddit fa-3x"></i></a>
                {% endif %}
                {% if (page.header.vimeo) %}
                    <a title="vimeo" href="{{page.header.vimeo}}"><i class="fab fa-vimeo fa-3x"></i></a>
                {% endif %}
                {% if (page.header.spotify) %}
                    <a title="spotify" href="{{page.header.spotify}}"><i class="fab fa-spotify fa-3x"></i></a>
                {% endif %}
                {% if (page.header.soundcloud) %}
                    <a title="soundcloud" href="{{page.header.soundcloud}}"><i class="fab fa-soundcloud fa-3x"></i></a>
                {% endif %}
                {% if (page.header.itunes) %}
                    <a title="itunes" href="{{page.header.itunes}}"><i class="fab fa-itunes fa-3x"></i></a>
                {% endif %}
                {% if (page.header.google) %}
                    <a title="google" href="{{page.header.google}}"><i class="fab fa-google-play fa-3x"></i></a>
                {% endif %}
                {% if (page.header.rss) %}
                    <a title="rss" href="{{page.header.rss}}"><i class="fas fa-rss-square fa-3x"></i></a>
                {% endif %}
                {% if (page.header.overcast) %}
                    <a title="overcast" href="{{page.header.overcast}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.stitcher) %}
                    <a title="stitcher" href="{{page.header.stitcher}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.playerfm) %}
                    <a title="playerfm" href="{{page.header.playerfm}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.podtail) %}
                    <a title="podtail" href="{{page.header.podtail}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.podbean) %}
                    <a title="podbean" href="{{page.header.podbean}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.fansfm) %}
                    <a title="fansfm" href="{{page.header.fansfm}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.podbay) %}
                    <a title="podbay" href="{{page.header.podbay}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.tunein) %}
                    <a title="tunein" href="{{page.header.tunein}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.iheart) %}
                    <a title="iheart" href="{{page.header.iheart}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.listennotes) %}
                    <a title="listennotes" href="{{page.header.listennotes}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.podparadise) %}
                    <a title="podparadise" href="{{page.header.podparadise}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.castbox) %}
                    <a title="castbox" href="{{page.header.castbox}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.chartable) %}
                    <a title="chartable" href="{{page.header.chartable}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.podcastrepublic) %}
                    <a title="podcastrepublic" href="{{page.header.podcastrepublic}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.radioline) %}
                    <a title="radioline" href="{{page.header.radioline}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                {% if (page.header.deezer) %}
                    <a title="deezer" href="{{page.header.deezer}}"><i class="fas fa-podcast fa-3x"></i></a>
                {% endif %}
                </span>